<!-- <div class="footer">
  <div class="otherlinks">
    &copy; Tattle Inc., 2018  
    <a href="#">Read our privacy policy</a> 
    <a href="#">Contact us</a> 
  </div>
  <div class="sociallinks">
    <ul>
      <li><a href="https://www.facebook.com/informantsecret/?ref=tattle.com-footer" target="_blank"><img src="./assets/fb.png" /></a></li>
      <li><a href="https://twitter.com/InformantSecret/?ref=tattle.com-footer" target="_blank"><img src="./assets/tw.png" /></a></li>
      <li><a href="https://www.youtube.com/channel/UCdirNpB0Qwuze56TsMpASVg?view_as=subscriber&ref=tattle.com-footer" target="_blank"><img src="./assets/yt.png" /></a></li>
      <li><a href="https://www.instagram.com/secretinformant/?ref=tattle.com-footer" target="_blank"><img src="./assets/inst.png" /></a></li>
    </ul>
  </div>
</div> -->

<div class="row">
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
</div>