

<app-searchbar></app-searchbar>

<p class="resultstext">Tattlers available in Vancouver, BC on {{ today | date: 'dd MMM yyyy' }}</p>




<div class="resultsContainer">


<div *ngFor="let tattler of tattlers">
<a [routerLink]="['/', tattler.name, tattler.email]" >
<!-- [queryParams]="{ sort: 0, quality: '720p'}"> -->
<mat-card class="resultcard">
<div class="imgparent">
  <img mat-card-image 
  	src="http://placeimg.com/640/480/people" alt="Photo of {{tattler.name}}">
 </div>
  <mat-card-content>
    <p>
      {{tattler.name}}
    </p>
    <p>C${{tattler.trips[1].name}}</p>
  </mat-card-content>
</mat-card>
</a>
</div>

<!-- <div>
<mat-card class="resultcard">
<div class="imgparent">
  <img mat-card-image 
  	src="../../assets/local_2.jpg" alt="Photo of a Shiba Inu">
 </div>
  <mat-card-content>
    <p>
      Cathy O'Connor
    </p>
  </mat-card-content>
</mat-card>
</div>

<mat-card class="resultcard">
<div class="imgparent">
  <img mat-card-image 
  	src="../../assets/local_7.jpg" alt="Photo of a Shiba Inu">
 </div>
  <mat-card-content>
    <p>
      Liz Becker
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="resultcard">
<div class="imgparent">
  <img mat-card-image 
  	src="../../assets/local_6.jpg" alt="Photo of a Shiba Inu">
 </div>
  <mat-card-content>
    <p>
      Sandy G
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="resultcard">
  <img mat-card-image 
  	src="../../assets/Groumet_food.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Some text...
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="resultcard">
  <img mat-card-image 
  	src="../../assets/stanley_park_poster.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Some text...
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="resultcard">
  <img mat-card-image 
  	src="../../assets/Stanley_Park_1.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Dianne Wilson
    </p>
    <p class="subdetails">$35 | 475 likes | 350m | 10 mins away</p>
  </mat-card-content>
</mat-card>

<mat-card class="resultcard">
  <img mat-card-image 
  	src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Some text...
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="resultcard">
  <img mat-card-image 
  	src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Some text...
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="resultcard">
  <img mat-card-image 
  	src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Some text...
    </p>
  </mat-card-content>
</mat-card> -->

</div>