

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center; /* align items in Main Axis */
    align-items: center; /* align items in Cross Axis */
    //align-content: stretch; /* Extra space in Cross Axis */
    //flex-direction: column;
    z-index: 1;
}


.mainbody{
    //flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-basis: 100vh;
    //background-color: cyan;
    //min-width: 100% !important;
}



@media screen and (min-width: 768px){

    .wrapper{
        z-index: 1;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }

    .mainbody{
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    app-searchresults{
        overflow-y: scroll;
    }

}