.bg-light {
	background-color: transparent !important;
}

.nav-link{
	color: #aaa !important;
	padding: 6px 15px !important;
	border-top: 1px solid #aaa;
}

.nav-item{
	//padding: 6px 15px;
	margin-right: 25px;
}

.nav-item:hover{
	border-top: 2px solid #ccc;
	padding-top:5px !important;
}

