<div class="d-flex bd-highlight">
	
	<div class="p-2 bd-highlight align-content-stretch pleft">
		<img src="http://placeimg.com/640/480/people" class="figure-img img-fluid rounded" alt="Responsive image">
	</div>

	<div class="p-2 flex-grow-1 bd-highlight pright">
		<h1 class="display-5">Hello, I'm {{name}}</h1>
		<p>
			Travel for me is "going back home"!. I live to travel. In my 20 years of travel history, I have encountered fabulous adventures. I have a passion to help others experience the same. <a href="#">Read more...</a>
		</p>

		<h4>My Listed Adventures:</h4>

		<div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
			
			<div class="p-2 bd-highlight">
				<a href="#">
				<mat-card class="resultcard">
					<div class="imgparent">
						<img mat-card-image 
						src="http://placeimg.com/640/480/people" alt="Photo of place">
					</div>
					<mat-card-content>
						<p>
							{{name}}
						</p>
					</mat-card-content>
				</mat-card>
			</a>
			</div>

			<div class="p-2 bd-highlight">
				<a href="#">
				<mat-card class="resultcard">
					<div class="imgparent">
						<img mat-card-image 
						src="http://placeimg.com/640/480/people" alt="Photo of place">
					</div>
					<mat-card-content>
						<p>
							{{name}}
						</p>
					</mat-card-content>
				</mat-card>
			</a>
			</div>

			<div class="p-2 bd-highlight">
				<a href="#">
				<mat-card class="resultcard">
					<div class="imgparent">
						<img mat-card-image 
						src="http://placeimg.com/640/480/people" alt="Photo of place">
					</div>
					<mat-card-content>
						<p>
							{{name}}
						</p>
					</mat-card-content>
				</mat-card>
			</a>
			</div>

			<div class="p-2 bd-highlight">
				<a href="#">
				<mat-card class="resultcard">
					<div class="imgparent">
						<img mat-card-image 
						src="http://placeimg.com/640/480/people" alt="Photo of place">
					</div>
					<mat-card-content>
						<p>
							{{name}}
						</p>
					</mat-card-content>
				</mat-card>
			</a>
			</div>

			<div class="p-2 bd-highlight">
				<a href="#">
				<mat-card class="resultcard">
					<div class="imgparent">
						<img mat-card-image 
						src="http://placeimg.com/640/480/people" alt="Photo of place">
					</div>
					<mat-card-content>
						<p>
							{{name}}
						</p>
					</mat-card-content>
				</mat-card>
			</a>
			</div>
		</div>

	</div>
</div>