<form [formGroup]="form">
	<form class="form-group">
		<div class="row">
			<div class="col">
				<label for="firstname">First name</label>
				<input type="text" class="form-control" id="firstname" placeholder="First name">
			</div>
			<div class="col">
				<label for="lastname" class="for">Last name</label>
				<input type="text" class="form-control" id="lastname" placeholder="Last name">
			</div>
		</div>
	</form>

	<div class="form-group">
		<label for="email">Email address</label>
		<input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
		<div *ngIf="email.touched && email.invalid" class="alert alert-danger">
			<div *ngIf="email.errors.required">Email is requied.</div>
			<div *ngIf="email.errors.email">Please enter a valid email.</div>
		</div>
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col">
				<label for="password">Password</label>
				<input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
				<div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required.</div>
			</div>
			<div class="col">
				<label for="passwordconfirm">Confirm Password</label>
				<input type="password" formControlName="passwordconfirm" class="form-control" id="passwordconfirm" placeholder="Confirm Password">
				<div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required.</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="inputAddress">Address</label>
		<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
	</div>
	<div class="form-group">
		<label for="inputAddress2">Address 2</label>
		<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="inputCity">City</label>
			<input type="text" class="form-control" id="inputCity">
		</div>
		<div class="form-group col-md-4">
			<label for="inputState">State</label>
			<select id="inputState" class="form-control">
				<option selected>Choose...</option>
				<option>...</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<label for="inputZip">Zip</label>
			<input type="text" class="form-control" id="inputZip">
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col">
				<label for="cellphone">Cellphone no</label>
				<input type="tel" id="cellphone" class="form-control" />
			</div>
			<div class="col">
				<label for="altphone">Alternate phone no</label>
				<input type="tel" id="altphone" class="form-control" />
			</div>
		</div>
	</div>


	<div class="form-group">
		<label for="bio">About me (50 to 300 words)</label>
		<textarea class="form-control" id="bio" rows="3"></textarea>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col">
				<label for="languagesspoken">Languages spoken:</label>
				<select multiple class="form-control" id="languagesspoken">
					<option 
						*ngFor="let languagespoken of languagesspoken" value="{{ languagespoken }}">
						{{ languagespoken }}
					</option>
				</select>
			</div>
			<div class="col" id="cln">
				<label for="culturalexperience">Cultural experience:</label>
				<div class="row" id="ce">
					<div class="col">					
						<select id="culturalexperience" class="form-control">
							<option *ngFor="let ce of culturalexperiences" value={{ce}}>{{ce}}</option>
						</select>
					</div>
					<div class="col">
						<input type="number" class="form-control" />
					</div>
					<div class="col">
						<button type="button" class="btn btn-primary" (click)="addrow()">Add more</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- <div class="form-check">
		<input type="checkbox" class="form-check-input" id="exampleCheck1">
		<label class="form-check-label" for="exampleCheck1">Check me out</label>
	</div> -->
	
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
