<!--The content below is only a placeholder and can be replaced.-->

<!-- Nav in navbar component -->


<div class="brand" [style.display]="captionState">
	tattle. <span>it's OK to gossip, sometimes. <a href="#">Know why</a></span>
</div>

<div class="searchholder" @searchTransform>

	<div class="destination">
		<span>What's your next quest going to be...</span>
		<div class="destinationtextholder">
			<input type="text" class="destinationtext" placeholder="Try Vancouver, BC or water rafting or Chicken tikka..." autofocus />
          <!-- <mat-form-field>
            <mat-icon matPrefix>mode_search</mat-icon>
            <input type="text" matInput [formControl]="myControl" placeholder="Try Vancouver, BC or hiking..." />
        </mat-form-field> -->
    </div>
</div>

<div class="traveldate">
	<span>When...</span>
	<div>
		<mat-form-field>
			<input matInput [matDatepicker]="picker" placeholder="Choose a date">
			<mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>
</div>

<div class="nooftravelers">
	<span>How many of you...</span>

	<div class="nooftravelersparent">
		<div class="nooftravelerscount">
			<div class="center">
				<div class="smallcaption">Adults</div>
				<button mat-mini-fab color="primary" class="nooftravelerscounter">
					<mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
				</button> 
				<input type="text" class="nooftravelerscount" value="1" />
				<button mat-mini-fab color="primary" class="nooftravelerscounter">
					<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
				</button> 
			</div>
		</div>

		<div class="nooftravelerscount">
			<div class="smallcaption">Children</div>
			<div class="center">
				<button mat-mini-fab color="primary" class="nooftravelerscounter">
					<mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
				</button> 
				<input type="text" class="nooftravelerscount" value="1" />
				<button mat-mini-fab color="primary" class="nooftravelerscounter">
					<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
				</button> 
			</div>
		</div>
	</div>

</div>
<!-- <div class="searchbtn" (click)="tSearch()"></div> -->
<div class="searchbtn"><a routerLink="/searchresults">Let's Go</a></div> 
</div>




<div class="voverlay" [style.display]="captionState">
	<!-- <video playsinline autoplay muted loop poster="./assets/app.swans.png" id="bgvid"> -->
		<video #bgvideo role="presentation" preload="true" muted="muted" autoplay="true" loop="true" id="bgvid">
			<source src="./assets/app.sunset_lowres.webm" type="video/webm"> 
			<source src="./assets/app.sunset_lowres.mp4" type="video/mp4">
		</video>
</div>





