.voverlay{
    display: none;
}



.brand{
    width: 100%;
    color: #777;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand span{
    font-size: 13px;
}


.homecontainer{
    height: 65vh;
    //border:1px solid red;
}



@media screen and (min-width: 768px){

    .homeClass{
        width: 100%;
        background-color: red;
    }

    .brand{
        text-align: left;
    }

    .searchholder{
        width: 100%;
    }

    app-searchbar{ 
        width: 100%;

    }

    .brand{
        //width: 90%;
        color: #f1f1f1;
        font-size: 60px;
        justify-content: center;
    }

    
    .resultsContainer{
        flex: 1;
        display: none;
        //overflow: auto;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 40px;
        justify-content: space-between;

    }

    .resultsContainer .resultcard{
        min-height: min-content;
        flex-basis: 350px;
        max-width: 350px;
        flex-grow: 1;
        margin: 10px 15px 0 0;
        //display: flex;
    }


    .voverlay {
        display: block;
        position: relative;
        top: 0;
        left:0;
        height:100%;
        width:100%;
        &:before {
            content:'';
            display: block;
            padding-top: 50%;  // 50% equals a 2:1 ratio. you can read more about
            // the ratios in the link
        }
        z-index:-999;
    }

    video#bgvid { 
     position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     transform: translateX(-50%) translateY(-50%);
     //background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
     background-size: cover;
     transition: 1s opacity;
 }


}